@import url('https://fonts.googleapis.com/css?family=Roboto:500,500i,700,900&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    background: url("/static/images/bgnyah.png");
    background-size: cover; 
    /* height: 100vh; */
    height: 150%;
}



/*.img{
    max-width: 100%;
    transform: translate(1%, 1%);
}*/

.skills, row{
    transform: translate(1%, 1%);
}

/*.center{
    text-align: center;
    justify-content: center;
}**/


.title{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 10vw;
    letter-spacing: 1vw;
    top: 15%;
    position: absolute;
    margin: 0.5%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: auto;
    height: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }


.fa:hover {
    opacity: 0.7;
  }
  
.fa-linkedin {
    background: #007bb5;
    color: white !important;
  }

.fa-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: white !important;
  }

.fa-google {
    background: #dd4b39;
    color: white !important;
}

.fa-youtube {
    background: #bb0000;
    color: white !important;
  }


.button {
    width: 31%;
    height: 10% !important;
    color: rgba(53, 107, 62, 0.64);
    border-radius: 45px;
    font-size: 1.3rem;
    background: linear-gradient(180deg, #E7AE6A 0%, #FFD6A5 53.12%, rgba(246, 206, 157, 0) 100%);
    box-shadow: 0px 3px 40px rgba(0,0,0,.35);
    transform: translate(220%, 5%);
    padding: 1.5%;
    
}

.button:hover {
    color: #fff;
    background: linear-gradient(180deg, rgba(249, 206, 57, 0.875) 12.5%, #FFE99D 51.04%, rgba(255, 233, 157, 0.87234) 59.9%, rgba(255, 233, 157, 0) 100%);
}

.navi{
    width: 90%;
    height: auto;
    background: rgba(240, 255, 149, 0.74);
    box-shadow: 0px 3px 40px rgba(0,0,0,.45);
    border-radius: 25px;
    margin-top: 2%;
    transform: translate(1%, 1%);
}


.navbar, a1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 145%;
    line-height: 69%;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(53, 107, 62, 1) !important;
}

.navbar, a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 145%;
    line-height: 69%;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(53, 107, 62, 0.64) !important;
}

.navbar-nav a:hover{
    background: linear-gradient(180deg, #E7AE6A 0%, #FFD6A5 53.12%, rgba(246, 206, 157, 0) 100%);
    text-decoration: none;
}

.collapse{
    width: 100%;
    height: 100%;
}

.navbar-nav{
    width: 100%;
    /*height: 100%;*/
    padding-right: 0;
}

.nav-item{
    margin-left: 2%;
    margin-right: 1%;
    text-align: center;
    width: auto;
    height: 100%;
    padding: 0%;
    padding-top: 3%;
}


.body{
    width: 100%;
    height: auto;
    border-radius: 5%;
    background: rgba(255, 237, 173, 0.83);
    padding: 5%;
    box-shadow: 0px 2px 25px rgba(0,0,0,.35);
}

.card-subtitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    color:rgba(53, 107, 62, 1);
}

.card-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 22%;
    color:rgba(53, 107, 62, 1);
}


.about-me {
    margin-top: 3%;
    width: 90%;
    height: auto;
    /* margin: 5%; */
    border-radius: 20px;
    box-shadow: 0px 2px 25px rgba(0,0,0,.35);
    /* position: absolute; */
    /* top: 100px; */
    background: rgba(242, 225, 163, 0.71);
    background-blend-mode: darken;
    padding: 5%;
    transform: translate(1%, 1%);
}

.fotoku{
    border-radius: 25px;
    width: 100%;
    height: auto;
    float: right;
    /* display: inline-block;
    vertical-align: middle; */
    margin: auto;
}


.experience{
    margin-top: 3%;
    width: 90%;
    height: auto;
    /* margin: 5%; */
    border-radius: 20px;
    box-shadow: 0px 2px 25px rgba(0,0,0,.35);
    /* position: absolute; */
    /* top: 95%; */
    background: rgba(253, 255, 164, 0.55);
    background-blend-mode: darken;
    padding: 5%;
    transform: translate(1%, 1%);
}

.card-title2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 2.8rem;
    color:rgba(53, 107, 62, 1);
}

.card-subtitle2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    color:rgba(53, 107, 62, 1);
}


.body, li{
    padding-left: 5%;
    font-weight: normal;
    font-size: 1.8rem;
    font-family: 'Roboto';
    font-style: normal;
    color:rgba(53, 107, 62, 1);

}

.skills{
    margin-top: 3%;
    width: 90%;
    height: auto;
    /* margin: 5%; */
    border-radius: 20px;
    box-shadow: 0px 2px 25px rgba(0,0,0,.35);
    /* position: absolute; */
    /* top: 95%; */
    background: rgba(255, 244, 223, 0.69);
    background-blend-mode: darken;
    padding:2%;
    transform: translate(1%, 1%);
}

.my-skills{
    margin-top: 3%;
    width: 90%;
    height: auto;
    /* margin: 5%; */
    border-radius: 20px;
    box-shadow: 0px 2px 25px rgba(0,0,0,.35);
    background: rgba(255, 238, 183, 0.87) !important;
    background-blend-mode: darken;
    padding:4%;
    transform: translate(1%, 1%);
}

h1{
    font-weight: normal;
    font-size: 4.5rem;
    padding-left: 2%;
    font-family: 'Roboto';
    font-style: normal;
    color:rgba(53, 107, 62, 1);
}


.col-3, p{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 1rem;
    /*letter-spacing: 0.5vw;*/
    color:rgba(53, 107, 62, 1);
    text-align: left;
    transform: translate(-20%,0%);
}

.p2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 1rem;
    /*letter-spacing: 0.5vw;*/
    color:rgba(53, 107, 62, 1);
    text-align: left;
    transform: translate(-100%,0%);
}

h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    text-align: center;
    margin: 5%;
    color: rgba(22, 98, 52, 1);
    font-size: 3rem;
    line-height: 80%;
}

h4{
    font-weight: 900;
    font-size: 1.8rem;
    letter-spacing: 0.15vw;
    color: rgba(22, 98, 52, 1) !important;
    text-align: center;
}


h6{
    padding: 2%;
    color: rgba(22, 98, 52, 1);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 125%;
}

li{
    padding-left: 5%;
    font-weight: normal;
    font-size: 1.29rem;
    font-family: 'Roboto';
    font-style: normal;
    color:rgba(53, 107, 62, 1);
}
.col-3{
    transform: translate(33%, 1%);

}

.progress{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    height: 2.5rem;
    border-radius: 0;
}

