{%extends "base.html"%}
{%load static%}


{%block nav%}
    <a class="nav-item nav-link" href="/">Profile</a>
    <a class="nav-item nav-link" href="/experiences">Experiences</a>
    <a class="nav-item nav-link" href="/skills">Skills</a>
    <a1 class="nav-item nav-link active" href="/contact">Contact <span class="sr-only">(current)</span></a1>
    {%endblock nav%}


{%block contents%}
<div class="container skills">
            <h3>Want to Know More?!</h3>
            <h4 > Here, just click the logo!</h4>
                <div class="card-body">
                        <div class="container my-skills">
                            <div class="row">
                                <div class="col-3">
                                    <a href="https://www.linkedin.com/in/astriddianyalwardy/" target="_blank" class="fa fa-linkedin"></a>
                                </div>
                                <div class="col-3">   
                                    <p>linkedin.com/in/astriddiany<br></br>alwardy</p>
                                </div>
                                <br></br>
                                <br></br>
                                <div class="col-3">
                                    <a href="https://www.instagram.com/astriddiany/?hl=en" target="_blank" class="fa fa-instagram"></a>
                                </div>
                                <div class="col-3">
                                <p>@astriddiany</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                <br></br>
                                    <a href="mailto:astrid.diany@ui.ac.id" target="_blank" class="fa fa-google"></a>
                                </div>
                                <div class="col-3">
                                <br></br>
                                <p>astrid.diany@ui.ac.id</p>
                                </div>
                                <div class="col-3">
                                <br></br>
                                    <a href="https://www.youtube.com/channel/UCE5MCfIYOsWQyWRm4PqPA7Q" target="_blank" class="fa fa-youtube"></a>
                                </div>
                                <div class="col-3">
                                <br></br>
                                <p>astriddiany</p>
                                </div>
                            </div>
                          </div>
            
                     </div>
            </div>
        {%endblock contents%}
        </body>
</html>


