{%extends "base.html"%}
{% load static %}
{%block nav%}
    <a class="nav-item nav-link" href="/">Profile</a>
    <a class="nav-item nav-link" href="/experiences">Experiences</a>
    <a class="nav-item nav-link" href="/skills">Skills</a>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/schedule" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Schedule</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/schedule">Fill Form</a>
          <a1 class="dropdown-item" href="/schedule/list">Result</a1>
          </div>
          </li>
    {%endblock nav%}
        {% block contents %}
        <div class="container skills">
          <h3> Here is The Detail </h3>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Subject</th>
                    <th scope="col">Lecturer</th>
                    <th scope="col">Credit</th>
                    <th scope="col">Desc</th>
                    <th scope="col">Semester</th>
                    <th scope="col">Classroom</th>
                    <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    {% for matkul_detail in matkul_detail %}
                    <td>{{ matkul_detail.Subject }}</td>
                    <td>{{ matkul_detail.Lecturer }}</td>
                    <td>{{ matkul_detail.Credit}}</td>
                    <td>{{ matkul_detail.Desc}}</td>
                    <td>{{ matkul_detail.Semester}}</td>
                    <td>{{ matkul_detail.Classroom}}</td>
                    <td><div class = 'form-group'>
                            <form action="/schedule/clear/{{ matkul_detail.id }}/" method="POST">
                                {% csrf_token %}
                                <button  class="btn btn-outline-danger" type="submit">Delete</button>
                            </form>
                    </div></td>
                    </tr>
                     {% endfor %}
                </tbody>
                </table>
                <div class = 'col-md-12'>
                <a href="/schedule"><button type="button" class="btn btn-outline-info" style="width:100%">Create New</button></a></div>
                <div class = 'col-md-12'>
                <a href="/schedule/list"><button type="button" class="btn btn-outline-success" style="width:100%">Back to Result</button></a>
            </div>
            </div>
              {% endblock contents %}
</body>
</html>
