{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Astrid Who?!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
     <nav class="navbar navbar-expand-lg navbar-light" id="myNav">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <ul class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="/">Profile </a>
                   <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/event" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Events</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/event">Form</a>
          <a class="dropdown-item nav-link active" href="/event/list">Result</a>
          </div>
          </li>
                    <a class="nav-item nav-link" href="#contact">Contact</a>
                      </ul>
                </div>
            </div>
        </nav>


      <div class="container">
          <div class="d-flex flex-row flex-wrap justify-content-center">
            {% for events in events %}
                <div class="card p-3 ">
                    <h6>Events's Name: {{events.0.NameEvent}}</h6>
                    {%for name in events.1%}
                    <ul>
                    <li>{{name.Participant}}</li>
                    </ul>
                    {% endfor %}
                      <form action="/event/list/{{events.0.id}}" method="POST">
                        {% csrf_token %}
                        <label for="participant_name">Participant's Name: </label>
                        <input id="participant_name" name="participant_name" type="text">
                        <div class = 'form-group'>
                            <form action="/event/list/{{events.0.id}}/" method="POST">
                                {% csrf_token %}
                                <button  class="btn btn-warning" type="submit">Add Participants</button>
                            </form>

                      </div>
                      </div>
                      {% endfor %}
                </div>
            
               

</section>
<section id="contact">
  <div class="container-fluid">
      <div class="row text-center">
        <div class="col-12 social-menu">
          <ul>
            <li><a href="https://www.linkedin.com/in/astriddianyalwardy/" target="_blank" class="fa fa-linkedin"></a></li>
            <li><a href="https://www.instagram.com/astriddiany/?hl=en" target="_blank" class="fa fa-instagram"></a></li>
            <li><a href="mailto:astrid.diany@ui.ac.id" target="_blank" class="fa fa-google"></a></li>
          </ul>
      </div>
    </div>
    </div>
</section>

  <style>

    #contact .social-menu ul{
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 0;
        margin: 0;
        transform: translate(-50%, -50%);
        display: flex;
        margin-top: 70px;
        margin-bottom: 50px;
    }
    #contact .social-menu ul li{
        list-style: none;
        margin: 0 15px;
    }
    #contact .social-menu ul li .fa{
        font-size: 30px;
        line-height: 60px;
        transition: .6s;
        color: #000;
    }
    #contact .social-menu ul li .fa:hover{
        color: #fff;
    }
    #contact .social-menu ul li a{
        position: relative;
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #fff;
        text-align: center;
        transition: .6s;
        box-shadow: 0 5px 4 px rgba(0,0,0,.5);
    }
    #contact .fa-linkedin:hover{
        background: #007bb5;
    }
    #contact .fa-instagram:hover{
        background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    }
    #contact .fa-google:hover{
       background: #dd4b39;
    }

/*.fa-linkedin {
    background: #007bb5;
    color: white !important;
  }

.fa-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: white !important;
  }

.fa-google {
    background: #dd4b39;
    color: white !important;
}*/
  </style>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
</body>

  
</html>