{%extends "base.html"%}
{% load static %}
{%block nav%}
    <a class="nav-item nav-link" href="/">Profile</a>
    <a class="nav-item nav-link" href="/experiences">Experiences</a>
    <a class="nav-item nav-link" href="/skills">Skills</a>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/schedule" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Schedule</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a1 class="dropdown-item" href="/schedule">Fill Form</a1>
          <a class="dropdown-item" href="/schedule/list">Result</a>
          </div>
          </li>
    {%endblock nav%}
        {% block contents %}
        <div class="container skills">
            <h3> Fill This Form with Your Schedule!! </h3>
            <div class="container body" style="width: 55%">
                    <form class="css" action="{% url 'matkul_create' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-sm-1"></div>
                                <div class="form-group col-sm-10">
                                    {% for fields in form %}
                                        {{ fields.label_tag }}
                                        <br>
                                        {{ fields }}
                                    {% endfor %}
                                </div>
                         
                            <div class="form-row">
                                <div class="col-sm-1"></div>
                                <input type="submit" class="btn btn-outline-primary" value="Submit" style="transform: translate(500%, 5%)">
                            </form>
                            </div>
                        {%endblock contents%}
