{%extends "base.html"%}
{% load static %}


    {%block nav%}
    <a class="nav-item nav-link active" href="/">Profile </a>
    <a class="nav-item nav-link" href="/experiences">Experiences</a>
    <a class="nav-item nav-link" href="/skills">Skills</a>
    <a class="nav-item nav-link" href="#contact">Contact</a>
   {%endblock nav%}


{%block contents%}
    <head>
        <title>Story Pertama Ku!!</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/index_lab1.css" %}">
        <link rel="icon" href="{% static "images/cactus.png" %}">
    </head>

    <body style= "background-image: url({% static "images/background.jpg" %})">
        <div class="foto">
                <img src="{% static "images/mukaku.jpg" %}" alt="fotoku">
        </div>

        <h5> BIODATA </h5>
        <div class="konten">
            <p>Nama: Astrid Diany Alwardy</p>
            <p>NPM: 1906292944</p>
            <p>Angkatan: 2019</p>
            <p>Tempat Kuliah: Fakultas Ilmu Kompter, UI</p>
            <p>Hobi: Jalan-jalan</p>
            <p>Tentang saya: Ngoding adalah jalan ninjaku</p>
            <p>Instagram: <a2 href="https://www.instagram.com/astriddiany/" target="_blank">astriddiany</a2></p>
            </div>


        <h3>RIWAYAT PENDIDIKAN</h3>
        <div class="konten1">
            <h2>Sekolah Dasar</h2>
            <ul>
                <li>SDN Bekasi Jaya VIII (2007 - 2013)</li>
            </ul>
            <h2>Sekolah Menengah Pertama</h2>
            <ul>
                <li>SMPN 1 Bekasi (2013 - 2016)</li>
            </ul>
            <h2>Sekolah Menengah Atas</h2>
            <ul>
                <li>SMAN 1 Bekasi (2016 - 2019)</li>
            </ul>
            <h2>Perguruan Tinggi</h2>
            <ul>
                <li>Fakultas Ilmu Komputer, Universitas Indonesia (2019 - present )</li>
            </ul>
        </div>
    
    <h1>Skills</h1>
    <div class="konten2">
        <h4>Public Speaking</h4>
    <div class="progress">
         <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 90%; background-color: rgba(255, 163, 97, 0.9);" aria-valuemin="0" aria-valuemax="100"></div>
    </div><br>
        <h4>Copywriting</h4>
    <div class="progress">
         <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%; background-color: rgba(255, 163, 97, 0.9);" aria-valuemin="0" aria-valuemax="100"></div>
  </div><br>
        <h4>Java</h4>
    <div class="progress">
         <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%; background-color: rgba(255, 163, 97, 0.9);" aria-valuemin="0" aria-valuemax="100"></div>
    </div><br>
        <h4>Python</h4>
    <div class="progress">
         <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%; background-color: rgba(255, 163, 97, 0.9);" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    </div>
{%endblock contents%}
    </body>

</html>

