{%extends "base.html"%}
{%load static%}


    {%block nav%}
   <a class="nav-item nav-link" href="/">Profile</a>
    <a class="nav-item nav-link" href="/experiences">Experiences</a>
    <a1 class="nav-item nav-link active" href="/skills">Skills <span class="sr-only">(current)</span></a1>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/schedule" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Schedule</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/schedule">Fill Form</a>
          <a class="dropdown-item" href="/schedule/list">Result</a>
          </div>
          </li>
   {%endblock nav%}


{%block contents%}
    <div class="container my-skills">
                     <div class="row">
                             <div class="col">
                                    <h3>Skills</h3>
                                            <h6> Public Speaking </h6>
                                            <div class="progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 85%; background-color: rgba(255, 163, 97, 0.9);" aria-valuemin="0" aria-valuemax="100">85%</div>
                                                  </div>
                                                  <h6>Copywriting</h6>
                                                  <div class="progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%; background-color: rgba(255, 163, 97, 0.9)" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
                                                  </div>
                                                  <h6>Java</h6>
                                                  <div class="progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 65%; background-color: rgba(255, 163, 97, 0.9)" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">65%</div>
                                                  </div>
                                                  <h6> Python</h6>
                                                  <div class="progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%; background-color: rgba(255, 163, 97, 0.9)" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">50%</div>
                                                    <br></br>
                                            </div>
                                        
                                </div>
                    </div>
                    </div>
                </div>
               {%endblock contents%}
        </body>
</html>